#mclaren_f1_logo{
    width: 240;
}

#navbar{
    background-color: rgb(255, 123, 0);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}