body{
    margin: 0;
    padding: 0;
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mclaren_f1_logo{
    width: 240;
}

#navbar{
    background-color: rgb(255, 123, 0);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#noticias{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px;
}

.noticia{
    background-color: lightslategray;
    color: white;
    border: 4px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

.img_noticia{
    width: 300px;
}